<style type="text/css">
    
    table { vertical-align: top; }
    tr    { vertical-align: top;}
    td    { vertical-align: top; }
    th {
        background-color: #a1a1a1;
        border-top: 2px solid #000;
        }
        th,td {
  border: inherit;
}
    
</style>
<page backcolor="#FEFEFE" footer="date;time;page" style="font-size: 10pt">
    <bookmark title="Facture" level="0" ></bookmark>
    <table cellspacing="0" style="font-size: 10pt;margin-right:4%;margin-left:4%;width: 92%;text-align:center;">
        <tr>
            <td style="text-align: left; width: 40%; border:none">
                <img style="position:absolute;top:10px" src="{{ pdf_logo_path }}" alt="Logo"><br />
            </td>
            <td style="width: 60%; border:none">
                <span style="font-size: 13pt;color:#b6bec5"><b style="color:#b6bec5">SPÉCIALISTE TRANSACTIONS VIAGÈRES<br />EXPERTISE ET ACCOMPAGNEMENT</b></span><br />
                
            </td>
        </tr>
        <tr>
            <td style="text-align: left; width: 40%; display: flex; align-items: start; border:none">
                Vincent GIBELIN - Directeur <br />
                58, rue Fondaudège <br />
                33000 BORDEAUX <br />
                Tel : 05.56.21.91.44 - 06.67.11.61.83 <br />
                Email : gestion@univers-viager.fr <br />
                Site internet : www.univers-viager.fr <br />
            </td>
            <td style="width: 60%; border:none">
               
                {{ parameters.city|title }}, le {{ data.current_day }}
                <br /><br />
                
            </td>
        </tr>
         <tr>
            <td style="font-size: 10pt;text-align: left; width: 40%; display: flex; align-items: start; border:none">
                
            </td>
            <td style="width: 60%; border:none">
           <b style="text-align:center;">
           <br />
                {{data.property.getWarrant().getFirstname() }}
                {{data.property.getWarrant().getLastname() }}  &nbsp;
                <br />
                {{data.property.getWarrant().getAddress() }}  
                <br />
                {{data.property.getWarrant().getPostalCode() }}  
                {{data.property.getWarrant().getCity() }}  <br /> 
            </b>

            </td>
        </tr>
    </table>
    <div style="margin-right:4%;margin-left:4%;">
    <br />
   <br />
   <br />
   <br />
 
    {% for i in 0..5 %}
        &nbsp;
    {% endfor %}
    Bonjour,
        <br />
    <br />
    <br />
    {% for i in 0..5 %}
            &nbsp;
        {% endfor %}
    La rente viagère de votre crédirentier vient à révision à la date du {{data.fd_next_month_d_m_y}} pour le bien suivant :<br />
    Réf. : <b>{{ data.property.getTitle() }}</b><br />
    {{data.adresse_bien }}<br />
    <br />


   
    {% if not data.is_plaff %}
           Nouveau montant = Rente actuelle ({{data.rdb}} €) x Nouvel indice de {{data.date_indice_actuel_og2i}} ({{data.montant_indice_actuel_og2i}}) / indice de référence de 
        {{data.date_indice_base_og2i}} ({{data.montant_indice_base_og2i}}). <br /><br />
    {% endif %}
    {% if data.is_plaff %}
        Rente de base ({{data.rdb}} €) x (1+plafonnement ({{data.plaff_val}})/100 ). <br /><br />
    {% endif %}    
    <b>Le nouveau montant de la rente viagère sera ainsi porté à {{data.rente}} €</b> pour le virement 
    de la rente du mois de {{data.date_virement}}.<br /><br />
     {% if  data.honoraires >0  %}
        <b>Les honoraires de gestion passent eux à {{data.honoraires}} € TTC. </b><br /><br />
   {% endif %}
    
    La prochaine date de révision est fixée pour le mois de {{data.date_revision}}. <br /><br />
    
    Merci de prendre en compte ces nouveaux montants pour vos prochains virements.  <br /><br />
    
    Nous restons bien entendu à votre disposition pour tout complément d’information. <br /><br />
     
    Veuillez agréer, nos sincères salutations.
    <br />
    <br />
     <br /> 
{% for i in 0..250 %}
    &nbsp;
{% endfor %}
Vincent GIBELIN,
</div>
</page>
<page_footer>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 10px;">
        <tr>
            <td style="width: 100%; border:none">
                UNIVERS VIAGER - Siège social : 58 Rue Fondaudège 33000 BORDEAUX, SARL au capital de 5 000 €<br/>
                TVA FR27523654408 - Immatriculée au RCS Bordeaux N°523 654 408<br />
                Garantie financière GALIAN 89 rue de la Boétie 75008 PARIS Montant : 120 000 €<br />
                Carte Professionnelle Transaction et Gestion immobilière n° 3301 2016 000 008 687 délivrée par la CCI de Bordeaux<br />
                « Notre agence ne détient aucun fonds pour le compte de ses clients »
            </td>
        </tr>
    </table>
</page_footer>