<style type="text/css">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top;}
    td    { vertical-align: top; }
    th {
        background-color: #a1a1a1;
        border-top: 2px solid #000;
        }
        th,td {
  border: inherit;
}
    -->
</style>
<page backcolor="#FEFEFE" footer="date;time;page" style="font-size: 12pt">
    <bookmark title="Facture" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px">
        <tr>
            <td style="text-align: left; width: 50%; border:none">
                <img style="width: 200px;" src="{{ pdf_logo_path }}" alt="Logo"><br />
            </td>
            <td style="width: 50%; border:none">
                <span style="font-size: 13pt;color:#b6bec5"><b style="color:#b6bec5">SPÉCIALISTE TRANSACTIONS VIAGÈRES<br />EXPERTISE ET ACCOMPAGNEMENT</b></span><br />
                
            </td>
        </tr>
        <tr>
            <td style="text-align: left; width: 50%; display: flex; align-items: start; border:none">
                Vincent GIBELIN - Directeur <br />
                58, rue Fondaudège <br />
                33000 BORDEAUX <br />
                Tel : 05.56.21.91.44 - 06.67.11.61.83 <br />
                Email : gestion@univers-viager.fr <br />
                Site internet : www.univers-viager.fr <br />
            </td>
            <td style="width: 50%; border:none">
               
                {{ parameters.city|title }}, le {{ data.current_day }}
                <br /><br />
                <b style="text-align:left;">
                    <br />{{data.form.civilite}} 
                    {% if data.form.destinataire =='Crédirentier' %} {{data.property.getFirstname1()}} {% elseif data.form.destinataire =='Débirentier' %} {% if data.property.getDebirentierDifferent() %}{{data.property.getPrenomDebirentier() }}{% else %}{{data.property.getWarrant().getFirstname() }}  {% endif %} {% else %}{{data.property.getWarrant().getFirstname() }}  {% endif %}
                    {% if data.form.destinataire =='Crédirentier' %} {{data.property.getLastname1()}} {% elseif data.form.destinataire =='Débirentier' %} {% if data.property.getDebirentierDifferent() %}{{data.property.getNomDebirentier() }}{% else %}{{data.property.getWarrant().getLastname() }}  {% endif %} {% else %}{{data.property.getWarrant().getLastname() }}  {% endif %}&nbsp;
                    <br />
                    {% if data.form.destinataire =='Crédirentier' %} {{data.property.getAddress() }} {% elseif data.form.destinataire =='Débirentier' %} {% if data.property.getDebirentierDifferent() %}{{data.property.getAddresseDebirentier() }}{% else %}{{data.property.getWarrant().getAddress() }}  {% endif %}{% else %}{{data.property.getWarrant().getAddress() }}  {% endif %}
                    <br />
                    {% if data.form.destinataire =='Crédirentier' %} {{data.property.getPostalCode() }} {% elseif data.form.destinataire =='Débirentier' %} {% if data.property.getDebirentierDifferent() %}{{data.property.getCodePostalDebirentier() }}{% else %}{{data.property.getWarrant().getPostalCode() }}  {% endif %} {% else %}{{data.property.getWarrant().getPostalCode() }}  {% endif %}
                    {% if data.form.destinataire =='Crédirentier' %} {{data.property.getCity() }} {% elseif data.form.destinataire =='Débirentier' %} {% if data.property.getDebirentierDifferent() %}{{data.property.getVilleDebirentier() }}{% else %}{{data.property.getWarrant().getCity() }}  {% endif %}{% else %}{{data.property.getWarrant().getCity() }}  {% endif %}<br />
                </b>
            </td>
        </tr>
    </table>
    <br />
    <br />
    {% for i in 0..100 %}
        &nbsp;
    {% endfor %}
        {{data.form.formule}}, <br /><br />
        {% for i in 0..100 %}
        &nbsp;
    {% endfor %}
    Vous trouverez dans ce courrier le mandat SEPA afin de mettre en place une 
    autorisation de prélèvement de vos honoraires de gestion. <br /><br />
    {% for i in 0..100 %}
        &nbsp;
    {% endfor %}
    Nous restons à votre disposition pour tout complément d’information. Veuillez agréer nos 
    sincères salutations.<br /><br />
    {% for i in 0..300 %}
        &nbsp;
    {% endfor %}
    Vincent GIBELIN,
    
    <br />
    <br />

<br />
    <br />
    
</page>
<page_footer>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 10px;">
        <tr>
            <td style="width: 100%; border:none">
                UNIVERS VIAGER - Siège social : 58 Rue Fondaudège 33000 BORDEAUX, SARL au capital de 5 000 €<br/>
                TVA FR27523654408 - Immatriculée au RCS Bordeaux N°523 654 408<br />
                Garantie financière GALIAN 89 rue de la Boétie 75008 PARIS Montant : 120 000 €<br />
                Carte Professionnelle Transaction et Gestion immobilière n° 3301 2016 000 008 687 délivrée par la CCI de Bordeaux<br />
                « Notre agence ne détient aucun fonds pour le compte de ses clients »
            </td>
        </tr>
    </table>
</page_footer>