<style type="text/css">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top;}
    td    { vertical-align: top; }
    th {
        background-color: #a1a1a1;
        border-top: 2px solid #000;
        }
        th,td {
  border: inherit;
}
    -->
           p {
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
<page backcolor="#FEFEFE" footer="date;time;page" >
    <bookmark title="Facture" level="0" ></bookmark>
    
    <div style="text-align: center; border:none">
        <img style="width: 200px;" src="{{ pdf_logo_path }}" alt="Logo"><br />
    </div>
            
        

    <br />

    <div style="font-size: 12pt;margin:0px 40px;padding:0px 10px; ">

        <h1 style="text-align: center; line-height:20px;margin:10px 10px;">MANDAT SEPA</h1>
        <h3 style="text-align: center; line-height:20px;margin:10px 10px;">Référence Unique du Mandat de Prélèvement SEPA</h3>
        <h3 style="text-align: center; line-height:20px">{{data.property.getTitle()}} UV</h3>

        En signant ce formulaire de mandat, vous autorisez UNIVERS VIAGER à envoyer des instructions à votre
        banque pour débiter votre compte, et votre banque à débiter votre compte conformément aux instructions
        de UNIVERS VIAGER. Vous bénéficiez du droit d’être remboursé par votre banque selon les conditions
        décrites dans la convention que vous avez passée avec elle. Une demande de remboursement doit être
        présentée :
        <br>
        - dans les 8 semaines suivant la date de débit de votre compte pour un prélèvement autorisé,
        <br>
        - dans les 13 mois en cas de prélèvement non autorisé.
        <br><br>


        Votre Nom : {{data.target_nom}} {{data.target_prenom}}  {{data.target_nom2}}  {{data.target_prenom2}}
        <br><br>
        Votre adresse : {{data.target_address}} {{data.target_address2}}
        <br><br>
        <u>Les coordonnées de votre compte</u><br>
        IBAN (Numéro d'identification du compte bancaire) : {{data.target_bank_iban_1}}<br>
        BIC (Code international d'identification de votre) : {{data.target_bank_bic_1}}<br>
        Domiciliation bancaire : {{data.target_bank_domiciliation_1}}
        <br><br>
        <u>Le créancier</u><br>
        {{data.creantier|raw}}
        <br><br>
        Type de paiement : Paiement récurrent / répétitif
        <br><br>
        Fait à
        <br><br>
        Le
        <br><br>
        Signature,
    </div>

    
  
</page>
<page_footer>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 10px;">
        <tr>
            <td style="width: 100%; border:none">
                UNIVERS VIAGER - Siège social : 58 Rue Fondaudège 33000 BORDEAUX, SARL au capital de 5 000 €<br/>
                TVA FR27523654408 - Immatriculée au RCS Bordeaux N°523 654 408<br />
                Garantie financière GALIAN 89 rue de la Boétie 75008 PARIS Montant : 120 000 €<br />
                Carte Professionnelle Transaction et Gestion immobilière n° 3301 2016 000 008 687 délivrée par la CCI de Bordeaux<br />
                « Notre agence ne détient aucun fonds pour le compte de ses clients »
            </td>
        </tr>
    </table>
</page_footer>