{% extends 'layout.html.twig' %}
{% import "macros/forms.html.twig" as mforms %}

{% block title %}Viag2e | Acquéreurs{% endblock %}

{% block body %}
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ path('dashboard') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="{{ path('warrants', {'type': warrant.typeString}) }}" class="m-nav__link">
                            <span class="m-nav__link-text">Liste des mandats {% if warrant.typeString == 'buyers' %}acquéreurs{% else %}vendeurs{% endif %}</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="{{ path('warrant_view', {'type': warrant.typeString, 'warrantId': warrant.id}) }}" class="m-nav__link">
                            <span class="m-nav__link-text">Mandat #{{ warrant.id }}</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">Ajout d'un bien</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Ajout d'un bien
                            <small><a href="{{ path('warrant_view', {'type': warrant.typeString, 'warrantId': warrant.id}) }}">{{ warrant.firstname }} {{ warrant.lastname }} #{{ warrant.id }}</a></small>
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                                <i class="flaticon-info m--icon-font-size-lg3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-wizard m-wizard--1 m-wizard--success" id="m_wizard">

                <div class="m-portlet__padding-x">
                    <!-- Here you can put a message or alert -->
                </div>

                <div class="m-wizard__head m-portlet__padding-x">
                    <div class="m-wizard__progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="m-wizard__nav">
                        <div class="m-wizard__steps">
                            <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span><span>1</span></span>
                                    </a>
                                    <div class="m-wizard__step-line">
                                        <span></span>
                                    </div>
                                    <div class="m-wizard__step-label">
                                        Profil
                                    </div>
                                </div>
                            </div>
                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span><span>2</span></span>
                                    </a>
                                    <div class="m-wizard__step-line">
                                        <span></span>
                                    </div>
                                    <div class="m-wizard__step-label">
                                        Propriétés
                                    </div>
                                </div>
                            </div>
                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span><span>3</span></span>
                                    </a>
                                    <div class="m-wizard__step-line">
                                        <span></span>
                                    </div>
                                    <div class="m-wizard__step-label">
                                        Informations
                                    </div>
                                </div>
                            </div>{% if warrant.type == constant('App\\Entity\\Warrant::TYPE_SELLERS') %}
                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span><span>4</span></span>
                                    </a>
                                    <div class="m-wizard__step-line">
                                        <span></span>
                                    </div>
                                    <div class="m-wizard__step-label">
                                        Acheteur
                                    </div>
                                </div>
                            </div>{% endif %}
                        </div>
                    </div>
                </div>

                <div class="m-wizard__form">
                    <!--
1) Use m-form--label-align-left class to alight the form input lables to the right
2) Use m-form--state class to highlight input control borders on form validation
-->
                    {{ form_start(form, {'attr': {'class': 'm-form m-form--label-align-left- m-form--state-', 'id': 'm_form'}}) }}
                        <div class="m-portlet__body">

                            <!--begin: Form Wizard Step 1-->
                            <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                                <div class="row">
                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-title"><span class="m--font-danger">*</span> Titre:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.title, {'attr': {'class': 'form-control m-input'}, 'id': 'form-title', 'label': false}) }}
                                                </div>

                                                <label for="form-mandataire" class="col-xl-3 col-lg-3 col-form-label">Mandataire</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.mandataire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mandataire', 'label': false}) }}
                                                </div>

                                                <label for="form-sell_type" class="col-xl-3 col-lg-3 col-form-label">Type de vente</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.sell_type, {'attr': {'class': 'form-control m-input'}, 'id': 'form-sell_type', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <h3 class="section-title">crédirentier 1</h3>
                                            
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-civilite1">Civilité:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.civilite1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-civilite1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-firstname1">Prénom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.firstname1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-firstname1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-lastname1">Nom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.lastname1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-lastname1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-dateofbirth1"> Date de naissance:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.dateofbirth1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-dateofbirth1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail1">Adresse mail:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.mail1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail1">Adresse:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.adresse_credirentier1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail1">Code postal:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.code_postal_credirentier1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail1">Ville:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.ville_credirentier1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail1', 'label': false}) }}
                                                </div>
                                            </div>

                                            <h3 class="section-title">crédirentier 2</h3>

                                             <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-civilite2">Civilité 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.civilite2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-civilite2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-firstname2">Prénom 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.firstname2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-firstname2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-lastname2">Nom 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.lastname2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-lastname2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-dateofbirth2">Date de naissance 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.dateofbirth2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-dateofbirth2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail2">Adresse mail 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.mail2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail2">Adresse 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.adresse_credirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail2">Code postal 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.code_postal_credirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-mail2">Ville 2:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.ville_credirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mail2', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="m-form__section">
                                            <h3 class="section-title">Débirentier 1</h3>
                                            
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-civilite_debirentier">Civilité:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.civilite_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-civilite_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-prenom_debirentier">Prénom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.prenom_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-prenom_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-nom_debirentier">Nom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.nom_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-nom_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-addresse_debirentier"> Adresse:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.addresse_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-addresse_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-telephone_debirentier"> Téléphone:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.telephone_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-telephone_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-email_debirentier">Adresse mail:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.email_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-email_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-code_postal_debirentier">Code postal:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.code_postal_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-code_postal_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-pays_debirentier">Pays:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.pays_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-pays_debirentier', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-ville_debirentier">Ville:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.ville_debirentier, {'attr': {'class': 'form-control m-input'}, 'id': 'form-ville_debirentier', 'label': false}) }}
                                                </div>
                                            </div>

                                            <h3 class="section-title">Débirentier 2</h3>
                                            
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-civilite_debirentier2">Civilité:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.civilite_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-civilite_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-prenom_debirentier2">Prénom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.prenom_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-prenom_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-nom_debirentier2">Nom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.nom_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-nom_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-addresse_debirentier2"> Adresse:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.addresse_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-addresse_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                             <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-telephone_debirentier2"> Téléphone:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.telephone_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-telephone_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-email_debirentier2">Adresse mail:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.email_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-email_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-code_postal_debirentier2">Code postal:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.code_postal_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-code_postal_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-pays_debirentier2">Pays:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.pays_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-pays_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-ville_debirentier2">Ville:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.ville_debirentier2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-ville_debirentier2', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Adresse
                                                </h3>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-address">Adresse:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.address, {'attr': {'class': 'form-control m-input'}, 'id': 'form-address', 'label': false}) }}
                                                </div>
                                            </div>
                                           
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-postalCode">Code postal:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.postalCode, {'attr': {'class': 'form-control m-input'}, 'id': 'form-postalCode', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-city">Ville:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.city, {'attr': {'class': 'form-control m-input'}, 'id': 'form-city', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-country">Pays:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    <div class="m-typeahead">
                                                        {{ form_row(form.country, {'attr': {'class': 'form-control m-input'}, 'id': 'form-country', 'label': false}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: Form Wizard Step 2-->
                            <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                                <div class="row">
                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Propriétés</h3>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-goodType"> Type de viager:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.goodType, {'attr': {'class': 'form-control m-input'}, 'id': 'form-goodType', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-propertyType">Type de bien:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    <div class="m-typeahead">
                                                        {{ form_row(form.propertyType, {'attr': {'class': 'form-control m-input'}, 'id': 'form-propertyType', 'label': false}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-constructionYear">Année de construction:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.constructionYear, {'attr': {'class': 'form-control m-input'}, 'id': 'form-constructionYear', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-livingSpace">Surface habitable:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.livingSpace, {'attr': {'class': 'form-control m-input'}, 'id': 'form-livingSpace', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-groundSurface">Surface du terrain:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.groundSurface, {'attr': {'class': 'form-control m-input'}, 'id': 'form-groundSurface', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-heatingType"> Type de chauffage:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.heatingType, {'attr': {'class': 'form-control m-input'}, 'id': 'form-heatingType', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-fireplace">Cheminée:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.fireplace, {'attr': {'class': 'form-control m-input'}, 'id': 'form-fireplace', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-garage">Garage:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.garage, {'attr': {'class': 'form-control m-input'}, 'id': 'form-garage', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-parking">Parking:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.parking, {'attr': {'class': 'form-control m-input'}, 'id': 'form-parking', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-cellar">Cave:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.cellar, {'attr': {'class': 'form-control m-input'}, 'id': 'form-cellar', 'label': false}) }}
                                                </div>
                                            </div>
                                             <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-date_remise_cles">Date de remise des clés:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.date_remise_cles, {'attr': {'class': 'form-control m-input'}, 'id': 'form-date_remise_cles', 'label': false}) }}
                                                </div>
                                            </div>

                                            <h3 class="section-title">Notaire</h3>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-civilite_notaire">Civilité:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.civilite_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-civilite_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-nom_notaire">Nom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.nom_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-nom_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-prenom_notaire">Prénom:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.prenom_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-prenom_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-addresse_notaire">Adresse:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.addresse_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-addresse_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-code_postal_notaire">Code postal:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.code_postal_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-code_postal_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-ville_notaire">ville:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.ville_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-ville_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-telephone_notaire">Téléphone:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.telephone_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-telephone_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-email_notaire">Email:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.email_notaire, {'attr': {'class': 'form-control m-input'}, 'id': 'form-email_notaire', 'label': false}) }}
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                                <div class="row">
                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Informations</h3>
                                            </div>
                                             
                                          
                                            
                                            <div id="billingBox">
                                                <div class="form-group m-form__group row">
                                                    <label for="form-dernier_jour_paiement_rente" class="col-xl-3 col-lg-3 col-form-label">Dernier jour de paiment de la rente </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.dernier_jour_paiement_rente, {'attr': {'class': 'form-control m-input'}, 'id': 'form-dernier_jour_paiement_rente', 'label': false}) }}
                                                    </div>
                                                </div>
                                                 <div class="form-group m-form__group row">
                                                    <label for="form-intitules_indices_initial" class="col-xl-3 col-lg-3 col-form-label">Intitulé indice initial </label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.intitules_indices_initial, {'attr': {'class': 'form-control m-input'}, 'id': 'form-intitules_indices_initial', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="form-mois_indice_initial" class="col-xl-3 col-lg-3 col-form-label">Mois indice initial</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.mois_indice_initial, {'attr': {'class': 'form-control m-input'}, 'id': 'form-mois_indice_initial', 'label': false,'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span class="delim">&#47;</span> {{ year }}' }) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-initial_index_object"> Indice initial du bien:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.initial_index_object, {'attr': {'class': 'form-control m-input'}, 'id': 'form-initial_index_object', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-valeur_indice_reference_object">Valeur Indice de référence</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.valeur_indice_reference_object, {'attr': {'class': 'form-control m-input'}, 'id': 'form-valeur_indice_reference_object', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-abandonmentIndex">Indice d'abandon:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.abandonmentIndex, {'attr': {'class': 'form-control m-input'}, 'id': 'form-abandonmentIndex', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-revaluationDate">Date d’indexation:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.revaluationDate, {'attr': {'class': 'form-control m-input'}, 'id': 'form-revaluationDate', 'label': false}) }}
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-initialAmount">Montant initial:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.initialAmount, {'attr': {'class': 'form-control m-input'}, 'id': 'form-initialAmount', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-honoraryRates">Taux honoraires:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.honorary_rates_object, {'attr': {'class': 'form-control m-input'}, 'id': 'form-honoraryRates', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-condominiumFees">Charges de co-pro (trimestrielles):</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.condominiumFees, {'attr': {'class': 'form-control m-input'}, 'id': 'form-condominiumFees', 'label': false}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label" for="form-garbageTax">Montant ordures ménagères:</label>
                                                    <div class="col-xl-9 col-lg-9">
                                                        {{ form_row(form.garbageTax, {'attr': {'class': 'form-control m-input'}, 'id': 'form-garbageTax', 'label': false}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-dosAuthenticInstrument">Date de signature de l'acte authentique:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.dosAuthenticInstrument, {'attr': {'class': 'form-control m-input'}, 'id': 'form-dosAuthenticInstrument', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-startDateManagement"> Date de début de gestion viagère:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.startDateManagement, {'attr': {'class': 'form-control m-input'}, 'id': 'form-startDateManagement', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-endDateManagement">Date de fin de contrat:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.endDateManagement, {'attr': {'class': 'form-control m-input'}, 'id': 'form-endDateManagement', 'label': false}) }}
                                                </div>
                                            </div>
                                        
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-num_mandat_gestion">N° du mandat de gestion<span class="m--font-danger">*</span></label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.num_mandat_gestion, {'attr': {'class': 'form-control m-input'}, 'id': 'form-num_mandat_gestion', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Relevé d'Identité Bancaire 1</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_establishment_code_1">Code banque:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_establishment_code_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_establishment_code_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_code_box_1">Code guichet:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_code_box_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_code_box_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_account_number_1">N° de compte:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_account_number_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_account_number_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_rib_1">Clé RIB:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_rib_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_rib_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_domiciliation_1">Domiciliation:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_domiciliation_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_domiciliation_1', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Numéro International de Compte Bancaire (IBAN)</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_iban_1">N° de compte:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_iban_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_iban_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_bic_1">Code banque (BIC):</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_bic_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_bic_1', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Identifiant Créancier SEPA</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_ics_1">N° ICS:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_ics_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_ics_1', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_rum_1">N° RUM:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_rum_1, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_rum_1', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="m-form__section">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Relevé d'Identité Bancaire 2</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_establishment_code_2">Code banque:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_establishment_code_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_establishment_code_2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_code_box_2">Code guichet:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_code_box_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_code_box_2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_account_number_2">N° de compte:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_account_number_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_account_number_2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_rib_2">Clé RIB:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_rib_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_rib_2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_domiciliation_2">Domiciliation:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_domiciliation_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_domiciliation_2', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Numéro International de Compte Bancaire (IBAN)</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_iban_2">N° de compte:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_iban_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_iban_2', 'label': false}) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_bic_2">Code banque (BIC):</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_bic_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_bic_2', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Identifiant Créancier SEPA</h3>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_ics_2">N° ICS:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_ics_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_ics_2', 'label': false}) }}
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" for="form-bank_rum_2">N° RUM:</label>
                                                <div class="col-xl-9 col-lg-9">
                                                    {{ form_row(form.bank_rum_2, {'attr': {'class': 'form-control m-input'}, 'id': 'form-bank_rum_2', 'label': false}) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                       
                                        <div class="m-separator m-separator--dashed m-separator--lg"></div>
                                        <div class="m-form__section">
                                            <label class="col-xl-3 col-lg-3 col-form-label" for="form-comment">Commentaires:</label>
                                            <div class="col-xl-9 col-lg-9">
                                                {{ form_row(form.comment, {'attr': {'class': 'form-control m-input autosize'}, 'id': 'form-comment', 'label': false}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3-->{% if warrant.type == constant('App\\Entity\\Warrant::TYPE_SELLERS') %}

                            <!--begin: Form Wizard Step 4-->
                            <div class="m-wizard__form-step" id="m_wizard_form_step_4">
                                <div class="row">
                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">Acheteur</h3>
                                            </div>
                                            {{ mforms.input_wizard(form.buyerFirstname, 'buyer_firstname', 'Prénom', true) }}
                                            {{ mforms.input_wizard(form.buyerLastname, 'buyer_lastname', 'Nom', true) }}
                                            {{ mforms.input_wizard(form.buyerAddress, 'buyer_address', 'Adresse', true) }}
                                            {{ mforms.input_wizard(form.buyerPostalCode, 'buyer_postal_code', 'Code postal', true) }}
                                            {{ mforms.input_wizard(form.buyerCity, 'buyer_city', 'Ville', true) }}
                                            {{ mforms.input_wizard(form.buyerCountry, 'buyer_country', 'Pays', true, true) }}
                                            {{ mforms.input_wizard(form.buyerPhone1, 'buyer_phone1', 'Téléphone') }}
                                            {{ mforms.input_wizard(form.buyerPhone2, 'buyer_phone2', 'Téléphone2') }}
                                            {{ mforms.input_wizard(form.buyerMail1, 'buyer_mail1', 'Adresse mail') }}
                                            {{ mforms.input_wizard(form.buyerMail2, 'buyer_mail2', 'Adresse mail 2') }}
                                            <div class="m-divider"><span></span>Relevé d'Identité Bancaire<span></span></div>
                                            {{ mforms.input_wizard(form.buyer_bank_establishment_code, 'buyer_bank_establishment_code', 'Code banque') }}
                                            {{ mforms.input_wizard(form.buyer_bank_code_box, 'buyer_bank_code_box', 'Code guichet') }}
                                            {{ mforms.input_wizard(form.buyer_bank_account_number, 'buyer_bank_account_number', 'N° de compte') }}
                                            {{ mforms.input_wizard(form.buyer_bank_key, 'buyer_bank_key', 'Clé RIB') }}
                                            {{ mforms.input_wizard(form.buyer_bank_domiciliation, 'buyer_bank_domiciliation', 'Domiciliation') }}
                                            <div class="m-divider"><span></span>Numéro International de Compte Bancaire (IBAN)<span></span></div>
                                            {{ mforms.input_wizard(form.buyer_bank_iban, 'buyer_bank_iban', 'N° de compte') }}
                                            {{ mforms.input_wizard(form.buyer_bank_bic, 'buyer_bank_bic', 'Code banque (BIC)') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->
                            {% endif %}
                        </div>
                        <!--end: Form Body -->

                        <!--begin: Form Actions -->
                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4 m--align-left">
                                        <button class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                            <span>
                                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                <span>Retour</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-4 m--align-right">
                                        <button class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                            <span>
                                                <i class="la la-check"></i>&nbsp;&nbsp;
                                                <span>Valider</span>
                                            </span>
                                        </button>
                                        <button class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                                            <span>
                                                <span>Continuer</span>&nbsp;&nbsp;
                                                <i class="la la-arrow-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block scripts %}
   
    {{ encore_entry_script_tags('property') }}
    {{ encore_entry_script_tags('property-billing') }}
    {{ encore_entry_script_tags('html-table.warrants') }}


    {{ encore_entry_script_tags('warrant') }}
    <script type="text/javascript">
    

$('#propertycreate_form_mois_indice_initial_day').val("1").change();
    $('#propertycreate_form_mois_indice_initial_year').on('change', function() {
        var yearVal = $(this).val();

        if (!yearVal) {
            // Si la valeur est vide, vider le jour
            $('#propertycreate_form_mois_indice_initial_day').val('').change();
        }

        function get_label(id){
            if(id==2){return "Ménages";}
            else if(id==1){return "Urbains"}
        }
        id=$('#form-intitules_indices_initial').find(":selected").val();
        setTimeout(function(){ 
            var selected=get_label(id);
            var selected_month=($('#propertycreate_form_mois_indice_initial_month').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_month').find(":selected").val():10;
            var selected_year=($('#propertycreate_form_mois_indice_initial_year').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_year').find(":selected").val():2023;
            //propertycreate_form_mois_indice_initial_month
            let route = "{{ path('get_ipcs', {'type':'eee','month':'mmm','year':'yyy'}) }}";
            changePath1 = route.replace('mmm', selected_month);
            changePath2 = changePath1.replace('yyy', selected_year);
            changePath = changePath2.replace('eee', selected);
            console.log( selected,selected_month,selected_year );
            $.ajax({
                method: "post",
                url:changePath,
            // url: '{{ path('get_ipcs', {'type':'Ménages'}) }}',
                data: { myid: 123456 },
                success: function(data) {
                    console.log(data)
                    $('#form-initial_index_object').html(data['options'])
                    $('#form-valeur_indice_reference_object option[value="'+data['valeur_indice_de_référence_id']+'"]').prop('selected', true)
                }
            });
        }, 1000);
      
    });
    $('#propertycreate_form_mois_indice_initial_month').on('change', function() {
        function get_label(id){
            if(id==2){return "Ménages";}
            else if(id==1){return "Urbains"}
        }
        id=$('#form-intitules_indices_initial').find(":selected").val();
        setTimeout(function(){ 
            var selected=get_label(id);
            var selected_month=($('#propertycreate_form_mois_indice_initial_month').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_month').find(":selected").val():10;
            var selected_year=($('#propertycreate_form_mois_indice_initial_year').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_year').find(":selected").val():2023;
            //propertycreate_form_mois_indice_initial_month
            let route = "{{ path('get_ipcs', {'type':'eee','month':'mmm','year':'yyy'}) }}";
            changePath1 = route.replace('mmm', selected_month);
            changePath2 = changePath1.replace('yyy', selected_year);
            changePath = changePath2.replace('eee', selected);
            console.log( selected,selected_month,selected_year );
            $.ajax({
                method: "post",
                url:changePath,
            // url: '{{ path('get_ipcs', {'type':'Ménages'}) }}',
                data: { myid: 123456 },
                success: function(data) {
                    console.log(data)
                    $('#form-initial_index_object').html(data['options'])
                    $('#form-valeur_indice_reference_object option[value="'+data['valeur_indice_de_référence_id']+'"]').prop('selected', true)
                }
            });
        }, 1000);
       
    });
    $('#form-intitules_indices_initial').on('change', function() {
        function get_label(id){
            if(id==2){return "Ménages";}
            else if(id==1){return "Urbains"}
        }
        id=$(this).find(":selected").val();
        setTimeout(function(){ 
            var selected=get_label(id);
            var selected_month=($('#propertycreate_form_mois_indice_initial_month').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_month').find(":selected").val():10;
            var selected_year=($('#propertycreate_form_mois_indice_initial_year').find(":selected").val())?$('#propertycreate_form_mois_indice_initial_year').find(":selected").val():2023;
            //propertycreate_form_mois_indice_initial_month
            let route = "{{ path('get_ipcs', {'type':'eee','month':'mmm','year':'yyy'}) }}";
            changePath1 = route.replace('mmm', selected_month);
            changePath2 = changePath1.replace('yyy', selected_year);
            changePath = changePath2.replace('eee', selected);
            console.log( selected,selected_month,selected_year );
            $.ajax({
                method: "post",
                url:changePath,
            // url: '{{ path('get_ipcs', {'type':'Ménages'}) }}',
                data: { myid: 123456 },
                success: function(data) {
                    console.log(data)
                    $('#form-initial_index_object').html(data['options'])
                    $('#form-valeur_indice_reference_object option[value="'+data['valeur_indice_de_référence_id']+'"]').prop('selected', true)
                }
            });
        }, 1000);
        setTimeout(function(){ 
            var selected=get_label(id);
            let route = "{{ path('get_currents_ipcs', {'type':'eee'}) }}";
            changePath = route.replace('eee', selected);
            console.log( selected );
            $.ajax({
                method: "post",
                url:changePath,
            // url: '{{ path('get_currents_ipcs', {'type':'Ménages'}) }}',
                data: { myid: 123456 },
                success: function(data) {
                    console.log(data)
                    $('#form-valeur_indice_reference_object option[value="'+data['options']['id']+'"]').prop('selected', true)
                }
            });
        }, 2000);
        
    });
    </script>

    {{ encore_entry_script_tags('wizard') }}
    {{ encore_entry_script_tags('property-billing') }}
{% endblock %}