<style type="text/css">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top; }
    td    { vertical-align: top; }
    -->
</style>
<page backcolor="#FEFEFE" footer="date;time;page" style="font-size: 12pt;">
    <bookmark title="Facture" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px;margin-right:4%;margin-left:4%;width: 92%">
       <tr>
            <td style="text-align: left; width: 40%;">
                <img style="width: 150px;" src="{{ pdf_logo_path }}" alt="Logo"><br />
                
            </td>
            <td style="width: 60%; padding-top: 25px;">
                <span style="font-size: 13pt;color:#b6bec5"><b style="color:#b6bec5">SPÉCIALISTE TRANSACTIONS VIAGÈRES<br />EXPERTISE ET ACCOMPAGNEMENT</b></span><br />   
            </td>
        </tr>
        <tr>
            <td style="text-align: left; width: 40%;">
                Vincent GIBELIN <br />
                Expert immobilier agréé par le CNE <br />
                {{ parameters.address|raw }},
                {{ parameters.postalcode }} {{ parameters.city|upper }}<br />
                Téléphone: {{ parameters.phone }} - 06.67.11.61.83 <br />
                Mail: gestion@univers-viager.fr<br />
                Site internet : www.univers-viager.fr <br />
            </td>
            <td style="width: 60%; padding-top: 25px;">
                {{ parameters.city|title }}, le {{ current_day }}
                <br /><br /><br />
                
                   <b>
                        {{ dest.name }} <br />
                        {{ dest.address }}<br />
                        {{ dest.postalcode }} {{ dest.city }}</b>
                
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div style="margin-right:4%;margin-left:4%;width: 92%">
                            <br /><br />
                            {% for i in 0..5 %}
                                &nbsp;
                            {% endfor %}
                            Madame, Monsieur,<br /><br />
                            {% for i in 0..5 %}
                                &nbsp;
                            {% endfor %}
                            Veuillez trouver ci-dessous les montants correspondant au total des rentes  à verser pour le mois de {{date}}. <br /><br />
                           {% for i in 0..5 %}
                                &nbsp;
                            {% endfor %}
                           <b>Rentes Opale Business 2 : {{somme | number_format(2, '.', ' ')}} €</b><br /><br />
                           {% for i in 0..5 %}
                                &nbsp;
                            {% endfor %}
                           Nous restons, bien entendu, à votre disposition pour tous renseignements
complémentaires et vous prions de croire en l’expression de nos sincères salutations.<br /><br />
                                <br /> <br /> <br />
                            {% for i in 0..50 %}
                                &nbsp;
                            {% endfor %}
                            Vincent GIBELIN,
               </div>         
</page>
<page backcolor="#FEFEFE" footer="date;time;page" style="font-size: 12pt;">
    <bookmark title="Facture" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px;margin-right:4%;margin-left:4%;width: 92%">
        <tr>
            <td style="text-align: left; width: 40%;">
                <img style="width: 150px;" src="{{ pdf_logo_path }}" alt="Logo"><br />
                
            </td>
            <td style="width: 60%; padding-top: 25px;">
            </td>
        </tr>
       
    </table>
    <br />
    <br />
      <div style="width: 100%; text-align: center;text-transform:uppercase; font-weight:bolder;font-size: 14px;margin-right:4%;margin-left:4%;">
           <u><b> APPEL DE FONDS<br />
        UNIVERS VIAGER GESTION - {{periode}}<br />
        {{dest.name}}</b></u>
        </div>
    <table cellspacing="0" style="width: 100%; border: solid 1px black;text-align: center; font-size: 11px;margin-right:4%;margin-left:4%;width: 92%">
        <tr>
            <td style="text-transform:uppercase; width: 50%;border: solid 1px black;background-color: #def5ef;">
                <b>Dossiers</b>
            </td>
            <td style="width: 20%;border: solid 1px black;background-color: #d4ff9d;">
                <b>Rentes appelés</b>
            </td>
            <td style="width: 30%;border: solid 1px black;background-color: #d4ff9d;">
                <b>Notes</b>
            </td>
        </tr>
        {% for f in factures %}
            {% if f.type ==1 %}
                <tr {% if f.property.date_maj_indice_ref > date('first day of this month') %} style="background-color: #ffc000;" {% elseif f.property.date_duh > date('first day of last month') %}   style="background-color: #9ee1f8;"  {% endif %}>
                    <td style="width: 50%;border: solid 1px black;">
                        {{f.property.title}}
                    </td>
                    <td style="width: 20%;border: solid 1px black; ">
                    {{f.invoice.data.property.annuity | number_format(2, '.', ' ')}} €
                    </td>
                    <td style="width: 30%;border: solid 1px black; ">
                        {% if f.property.date_maj_indice_ref > date('first day of this month') %}
                            Indexation
                        {% elseif f.property.date_duh > date('first day of last month') %}
                            Nouveau bien
                        {% endif %}
                    </td>
                </tr>
             {% endif %}
         {% endfor %}
             <tr>
                <td style="text-transform:uppercase; width: 50%;border: solid 1px black;">
                    <b>Rentes {{dest.name}}</b>
                </td>
                <td style="width: 20%;border: solid 1px black; ">
                <b>{{somme | round(2) | number_format(2, '.', ' ') }} € </b>
                </td>
                <td style="width: 30%;border: solid 1px black; ">
                
                </td>
            </tr>
    </table>
                
</page>
<page_footer>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 10px;">
        <tr>
            <td style="width: 100%;">
                UNIVERS VIAGER - Siège social : 58 Rue Fondaudège 33000 BORDEAUX, SARL au capital de 5 000 €<br/>
                TVA FR27523654408 - Immatriculée au RCS Bordeaux N°523 654 408<br />
                Garantie financière GALIAN 89 rue de la Boétie 75008 PARIS Montant : 120 000 €<br />
                Carte Professionnelle Transaction et Gestion immobilière n° 3301 2016 000 008 687 délivrée par la CCI de Bordeaux<br />
                « Notre agence ne détient aucun fonds pour le compte de ses clients »
            </td>
        </tr>
    </table>
</page_footer>